@font-face {
	font-family: "Mustardo";
	src: url('../font/mustardo.ttf');
}
@font-face {
	font-family: "Freestyle";
	src: url('../font/freestyle.ttf');
}
html, body{
    padding: 0;
    margin: 0;
}
.wrapper{
    position:relative;
    overflow:hidden;
    min-height: 100vh;
}
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
button{
    font-family: 'Mustardo', sans-serif;
    font-size: 36px;

    width: 180px;
    height: 65px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    -webkit-transition: all 0.3s ease;    
    -o-transition: all 0.3s ease;    
    transition: all 0.3s ease;    
}
.header{
    font-family: "Mustardo", sans-serif;
    font-size: 22px;
    height: 80px;
    width: 100%;
    color: #171329;
    background: url(../images/logo.png) center center no-repeat #171329;
    margin-bottom: 40px;
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
}
.box{
    width: 790px;
    height: 642px;
    text-align: center;
    background: url(../images/menu.png) center no-repeat;
    margin: 120px auto 0 auto;
}
.box p{
    font-family: 'Freestyle', sans-serif;
    font-size: 50px;
    color: #fff;
    padding: 430px 60px 0px 60px;
}
.box button{
    color: #171329;
    background-color: #fff;
    margin-top: -12px;
}
.box button:hover{
    color: #fff;
    border: #fff 1px solid;
    background-color: #171329;
}
.buttons{
    padding: 470px 0 0 0;
}
.buttons button{
    margin: 0 15px;
}
.panneau{
    padding: 40px;
    text-align: center;
}
.panneau p{
    font-family: 'Mustardo', sans-serif;
    font-size: 35px;
    color: #171329;
}
.panneau span{
    font-family: 'Freestyle', sans-serif;
    font-size: 45px;
    color: #171329;    
}
.panneau button{
    color: #fff;
    background-color: #171329;
}
.panneau button:hover{
    color: #171329;
    border: #171329 1px solid;
    background-color: #fff;
}
.message{
    position: fixed;
    top: 0;
    right: -335px;
    width: 335px;
    height: 126px;
    z-index: 99;

    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.is-success{
    right: 0;
    display: block;
}
.jeu {
    width: 1280px;
    background: #fff;
}
.case {
    max-height: 168px;
    max-width: 300px;
    float: left;
    margin: 10px;
}
.cover {
    position: absolute;
    height: 168px;
    width: 300px;

    background-image: url(../images/card-back.png);
    background-size: cover;
    cursor: pointer;

    -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
    transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
    -o-transition: width 0.2s, height 0.2s, transform 0.2s;
    transition: width 0.2s, height 0.2s, transform 0.2s;
    transition: width 0.2s, height 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.cover:hover {
    height: 172px;
    width: 308px;  
    border-radius: 5px;

    -webkit-box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);    
            box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);            

    -webkit-transform: translateX(-4px) translateY(-2.5px);
        -ms-transform: translateX(-4px) translateY(-2.5px);
            transform: translateX(-4px) translateY(-2.5px);}


/* VERSION MOBILE PORTRAIT */

@media only screen 
and (min-width : 300px) 
and (max-width : 668px)
and (orientation : portrait) {

    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100vh;
    }
    .header{
        font-family: "Mustardo", sans-serif;
        font-size: 22px;
        height: 45px;
        width: 100%;
        color: #171329;
        background: url(../images/logo-s.png) left no-repeat #171329;
        margin-bottom: 5px;
    }
    .message{
        position: fixed;
        top: -4px;
        right: 150;
        width: 150px;
        height: 56px;
        z-index: 99;
    
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .message img{
        width: 150px;
        height: 56px;
    }
    .jeu {
        width: 208px;
        background: #fff;
    }
    .case {
        max-height: 53px;
        max-width: 94px;
        float: left;
        margin: 5px;
    }
    .case img {
        max-height: 53px;
        max-width: 94px;
    }
    .cover {
        position: absolute;
        height: 53px;
        width: 94px;
    
        background-image: url(../images/card-back.png);
        background-size: cover;
        cursor: pointer;
    
        -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        -o-transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s, -webkit-transform 0.2s;
    }
    .cover:hover {
        height: 56px;
        width: 100px;  
        border-radius: 1px;
    
        -webkit-box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);    
                box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);            
    
        -webkit-transform: translateX(-3.5px) translateY(-2px);
            -ms-transform: translateX(-3.5px) translateY(-2px);
                transform: translateX(-3.5px) translateY(-2px);}

    .panneau{
        padding: 0 10px 0 10px;
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 20px;
    }
    .panneau p{
        font-family: 'Mustardo', sans-serif;
        font-size: 16px;
        color: #171329;
    }
    .panneau span{
        font-family: 'Freestyle', sans-serif;
        font-size: 18px;
        color: #171329;    
    }
    .panneau button{
        color: #fff;
        background-color: #171329;
    }
    .panneau button:hover{
        color: #171329;
        border: #171329 1px solid;
        background-color: #fff;
    }
    button{
        font-family: 'Mustardo', sans-serif;
        font-size: 18px;
    
        width: 100px;
        height: 36px;
        
        border: none;
        border-radius: 2px;
        cursor: pointer;
        
        -webkit-transition: all 0.3s ease;    
        -o-transition: all 0.3s ease;    
        transition: all 0.3s ease;    
    }
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        display: none;
    }
    .box{
        width: 300px;
        height: 243px;
        text-align: center;
        background: url(../images/menu.png) center no-repeat;
        background-size: 300px 243px;
    }
    .box p{
        font-family: 'Freestyle', sans-serif;
        font-size: 20px;
        color: #fff;
        padding: 170px 15px 0px 15px;
    }
    .box button{
        color: #171329;
    
        background-color: #fff;
        margin-top: -40px;
    }
    .buttons{
        padding: 165px 0 0 0;
    }
    .buttons button{
        margin: 5px 5px;
    }
    .is-success{
        right: 0;
        display: block;
    }
}

/* VERSION MOBILE LANDSCAPE */

@media only screen 
and (min-width : 300px) 
and (max-width : 668px)
and (orientation : landscape) {

    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100vh;
    }
    .header{
        font-family: "Mustardo", sans-serif;
        font-size: 22px;
        height: 45px;
        width: 100%;
        color: #171329;
        background: url(../images/logo-s.png) left no-repeat #171329;
        margin-bottom: 5px;
    }
    .message{
        position: fixed;
        top: -4px;
        right: 150;
        width: 150px;
        height: 56px;
        z-index: 99;
    
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .message img{
        width: 150px;
        height: 56px;
    }
    .jeu {
        width: 416px;
        background: #fff;
    }
    .case {
        max-height: 53px;
        max-width: 94px;
        float: left;
        margin: 5px;
    }
    .case img {
        max-height: 53px;
        max-width: 94px;
    }
    .cover {
        position: absolute;
        height: 53px;
        width: 94px;
    
        background-image: url(../images/card-back.png);
        background-size: cover;
        cursor: pointer;
    
        -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        -o-transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s, -webkit-transform 0.2s;
    }
    .cover:hover {
        height: 56px;
        width: 100px;  
        border-radius: 1px;
    
        -webkit-box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);    
                box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);            
    
        -webkit-transform: translateX(-3.5px) translateY(-2px);
            -ms-transform: translateX(-3.5px) translateY(-2px);
                transform: translateX(-3.5px) translateY(-2px);}

    .panneau{
        padding: 0 10px 0 10px;
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 20px;
    }
    .panneau p{
        font-family: 'Mustardo', sans-serif;
        font-size: 16px;
        color: #171329;
    }
    .panneau span{
        font-family: 'Freestyle', sans-serif;
        font-size: 18px;
        color: #171329;    
    }
    .panneau button{
        color: #fff;
        background-color: #171329;
    }
    .panneau button:hover{
        color: #171329;
        border: #171329 1px solid;
        background-color: #fff;
    }
    button{
        font-family: 'Mustardo', sans-serif;
        font-size: 18px;
    
        width: 100px;
        height: 36px;
        
        border: none;
        border-radius: 2px;
        cursor: pointer;
        
        -webkit-transition: all 0.3s ease;    
        -o-transition: all 0.3s ease;    
        transition: all 0.3s ease;    
    }
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        display: none;
    }
    .box{
        width: 300px;
        height: 243px;
        text-align: center;
        background: url(../images/menu.png) center no-repeat;
        background-size: 300px 243px;
        margin-top: 30px;
    }
    .box p{
        font-family: 'Freestyle', sans-serif;
        font-size: 20px;
        color: #fff;
        padding: 170px 15px 0px 15px;
    }
    .box button{
        color: #171329;
    
        background-color: #fff;
        margin-top: -40px;
    }
    .buttons{
        padding: 165px 0 0 0;
    }
    .buttons button{
        margin: 5px 5px;
    }    
    .is-success{
        right: 0;
        display: block;
    }
}

/* VERSION TABLETTE LANDSCAPE */

@media only screen 
and (min-width : 669px) 
and (max-width : 1440px)
and (orientation : landscape) {
    
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100%;
    }
    button{
        font-family: 'Mustardo', sans-serif;
        font-size: 20px;
    
        width: 140px;
        height: 50px;
        
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        -webkit-transition: all 0.3s ease;    
        -o-transition: all 0.3s ease;    
        transition: all 0.3s ease;    
    }
    .header{
        font-family: "Mustardo", sans-serif;
        font-size: 22px;
        height: 80px;
        width: 100%;
        color: #171329;
        background: url(../images/logo.png) center center no-repeat #171329;
        margin-bottom: 10px;
    }
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        display: none;
    }
    .box{
        width: 600px;
        text-align: center;
        background: url(../images/menu.png)center no-repeat;
        background-size: 600px;
        margin: 70px auto 0 auto;
    }
    .box p{
        font-family: 'Freestyle', sans-serif;
        font-size: 30px;
        color: #fff;
        padding: 430px 60px 0px 60px;
    }
    .box button{
        color: #171329;
        background-color: #fff;
        margin-top: -12px;
    }
    .box button:hover{
        color: #fff;
        border: #fff 1px solid;
        background-color: #171329;
    }
    .buttons{
        padding: 440px 0 0 0;
    }
    .buttons button{
        margin: 0 15px;
    }
    .panneau{
        min-width: 100vw;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
    }
    .panneau p{
        font-family: 'Mustardo', sans-serif;
        font-size: 25px;
        color: #171329;
    }
    .panneau span{
        font-family: 'Freestyle', sans-serif;
        font-size: 30px;
        color: #171329;    
    }
    .panneau button{
        color: #fff;
        background-color: #171329;
    }
    .panneau button:hover{
        color: #171329;
        border: #171329 2px solid;
        background-color: #fff;
    }
    .message{
        position: fixed;
        top: 0;
        right: -214px;
        width: 214px;
        height: 80px;
        z-index: 99;
    
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .message img{
        width: 214px;
        height: 80px;
    }
    .is-success{
        right: 0;
        display: block;
    }
    .jeu {
        max-width: 920px;
        background: #fff;
        margin: 0 auto;
    }
    .case {
        max-height: 123px;
        max-width: 220px;
        float: left;
        margin: 5px;
    }
    .case img {
        max-height: 123px;
        max-width: 220px;
    }
    .cover {
        position: absolute;
        height: 123px;
        width: 220px;
    
        background-image: url(../images/card-back.png);
        background-size: cover;
        cursor: pointer;
    
        -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        -o-transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s, -webkit-transform 0.2s;
    }
    .cover:hover {
        height: 127px;
        width: 227px;  
        border-radius: 2px;
    
        -webkit-box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);    
                box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);            
    
        -webkit-transform: translateX(-3.5px) translateY(-2px);
            -ms-transform: translateX(-3.5px) translateY(-2px);
                transform: translateX(-3.5px) translateY(-2px);}    
}

/* VERSION TABLETTE PORTRAIT */

@media only screen 
and (min-width : 669px) 
and (max-width : 1024px)
and (orientation : portrait) {
    
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100%;
    }
    button{
        font-family: 'Mustardo', sans-serif;
        font-size: 20px;
    
        width: 140px;
        height: 50px;
        
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        -webkit-transition: all 0.3s ease;    
        -o-transition: all 0.3s ease;    
        transition: all 0.3s ease;    
    }
    .header{
        font-family: "Mustardo", sans-serif;
        font-size: 22px;
        height: 80px;
        width: 100%;
        color: #171329;
        background: url(../images/logo.png) center center no-repeat #171329;
        margin-bottom: 10px;
    }
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        display: none;
    }
    .box{
        width: 600px;
        text-align: center;
        background: url(../images/menu.png) center no-repeat;
        background-size: 600px;
        margin: 120px auto 0 auto;
    }
    .box p{
        font-family: 'Freestyle', sans-serif;
        font-size: 32px;
        color: #fff;
        padding: 425px 60px 0px 60px;
    }
    .box button{
        color: #171329;
        background-color: #fff;
        margin-top: -8px;
    }
    .box button:hover{
        color: #fff;
        border: #fff 1px solid;
        background-color: #171329;
    }
    .buttons{
        padding: 440px 0 0 0;
    }
    .buttons button{
        margin: 0 15px;
    }
    .panneau{
        min-width: 100vw;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
    }
    .panneau p{
        font-family: 'Mustardo', sans-serif;
        font-size: 25px;
        color: #171329;
    }
    .panneau span{
        font-family: 'Freestyle', sans-serif;
        font-size: 30px;
        color: #171329;    
    }
    .panneau button{
        color: #fff;
        background-color: #171329;
    }
    .panneau button:hover{
        color: #171329;
        border: #171329 2px solid;
        background-color: #fff;
    }
    .message{
        position: fixed;
        top: 0;
        right: -214px;
        width: 214px;
        height: 80px;
        z-index: 99;
    
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .message img{
        width: 214px;
        height: 80px;
    }
    .is-success{
        right: 0;
        display: block;
    }
    .jeu {
        max-width: 480px;
        background: #fff;
        margin: 0 auto;
    }
    .case {
        max-height: 123px;
        max-width: 220px;
        float: left;
        margin: 5px;
    }
    .case img {
        max-height: 123px;
        max-width: 220px;
    }
    .cover {
        position: absolute;
        height: 123px;
        width: 220px;
    
        background-image: url(../images/card-back.png);
        background-size: cover;
        cursor: pointer;
    
        -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
        -o-transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s;
        transition: width 0.2s, height 0.2s, transform 0.2s, -webkit-transform 0.2s;
    }
    .cover:hover {
        height: 127px;
        width: 227px;  
        border-radius: 2px;
    
        -webkit-box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);    
                box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);            
    
        -webkit-transform: translateX(-3.5px) translateY(-2px);
            -ms-transform: translateX(-3.5px) translateY(-2px);
                transform: translateX(-3.5px) translateY(-2px);}    
}